In [1]:
import pandas as pd
import requests
import requests
from bs4 import BeautifulSoup
import time
import random

In [9]:
#Create headers to circumvent non-browser activity blocking

headers = {
    "User-Agent": "Mozilla/5.0 (Windows NT 10.0; Win64; x64) AppleWebKit/537.36 "
                  "(KHTML, like Gecko) Chrome/123.0.0.0 Safari/537.36"
}

def get_soup(url):
    time.sleep(random.uniform(1, 2))
    response = requests.get(url, headers=headers)
    if response.status_code == 200:
        return BeautifulSoup(response.text, "html.parser")
    else:
        print(f"Request failed with status: {response.status_code}")
        return None

def get_competitions():
    url = "https://www.transfermarkt.com/wettbewerbe/national"
    soup = get_soup(url)
    if not soup:
        return []

    competitions = []

    # Look for all <ul class="tm-button-list"> sections
    sections = soup.find_all("ul", class_="tm-button-list")
    for section in sections:
        links = section.find_all("a", class_="tm-button-list__list-item")
        for link in links:
            name = link.get("title")
            href = link.get("href")
            if name and href:
                full_url = f"https://www.transfermarkt.com{href}"
                competitions.append((name, full_url))

    return competitions

# Example usage
comp_data = get_competitions()
comps =  pd.DataFrame(comp_data, columns =  ['league', 'link'])

### Leagues

### Teams

### Players

In [ ]:
url = 'https://www.transfermarkt.com/arsenal-fc/startseite/verein/11'

#Create headers to circumvent non-browser activity blocking
headers = {
    'User-Agent': 'Mozilla/5.0 (Windows NT 10.0; Win64; x64) AppleWebKit/537.36 (KHTML, like Gecko) Chrome/123.0.0.0 Safari/537.36'
}

response = requests.get(url, headers=headers)

#Read data to pandas
if response.status_code == 200:
    dfs = pd.read_html(response.text)
else:
    #Insert email notification or logging
    print(f"Request failed with status code {response.status_code}")

In [8]:
dfs[1]

       #                        Player  Date of birth/Age  Nat. Market value
0   22.0         David Raya Goalkeeper  Sep 15, 1995 (29)   NaN      €40.00m
1    NaN                    David Raya                NaN   NaN          NaN
2    NaN                    Goalkeeper                NaN   NaN          NaN
3   32.0               Neto Goalkeeper  Jul 19, 1989 (35)   NaN       €2.00m
4    NaN                          Neto                NaN   NaN          NaN
..   ...                           ...                ...   ...          ...
67   NaN                   Kai Havertz                NaN   NaN          NaN
68   NaN                Centre-Forward                NaN   NaN          NaN
69   9.0  Gabriel Jesus Centre-Forward   Apr 3, 1997 (28)   NaN      €40.00m
70   NaN                 Gabriel Jesus                NaN   NaN          NaN
71   NaN                Centre-Forward                NaN   NaN          NaN

[72 rows x 5 columns]